.parent {
    display: flex;
    flex-direction: column;

}
.main_container {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    margin-top: 10px;
}

.first_container h1 {
    margin-bottom: 25px;
}

.first_container h4 {
    font-size: 18px;
}

.first_container p {
    text-align: left;
    margin-bottom: 10px;
}
.line {
    height: 2px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.334);
}
.first_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.second_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second_container input {
    padding: 6px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;
    width: 400px;
    height: 30px;
    margin-bottom: 8px;
}

.second_container textarea {
    padding: 6px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;
    width: 400px;
}

.second_container button {
    background-color: rgb(186, 14, 43);
    padding: 10px;
    color: #fff;
    width: 100px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}


.second_container button:hover {
    background-color: rgb(93, 7, 21);
    transform: scale(1.05);
}

/* -------------------------------small screen------------------------------ */

@media (max-width:500px) {
    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .first_container p {
        text-align: left;
        margin-left: 5px;
    }

    .first_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        text-align: center;
        font-size: 14px;


    }

    .second_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        text-align: center;
        font-size: 14px;
    }

    .second_container textarea {
        padding: 6px;
        border-radius: 6px;
        border: none;
        background-color: whitesmoke;
        width: 275px;
        margin: auto;
    }

    .second_container input {
        padding: 6px;
        border-radius: 6px;
        border: none;
        background-color: whitesmoke;
        width: 275px;
        height: 30px;
        margin: auto;
    }

    .line {
        width: 100%;
    }
}

/* -----------------------------for tablets------------------------- */
@media (max-width:900px) {
    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .first_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        text-align: center;
        font-size: 14px;


    }

    .second_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 10px;
        text-align: center;
        font-size: 14px;
    }

    .second_container textarea {
        width: 100%;
    }

    .second_container input {

        width: 100%;

    }

    .line {
        width: 100%;
    }

    .first_container p {
        text-align: left;
        margin-left: 5px;
    }
}